body{
    background-color: darkslategrey;
}

/* header section */
.header-section{
    padding: 36px 0 125px;
    height: 200px;
    width: 940px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.header-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-list{
    margin-left: auto;
    width: 163px;
    display: flex;
    justify-content: space-between;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-link{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
}
.header-item:nth-child(2){
    background: rgba(26, 25, 21, 0.0001);
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    padding: 8px 15px;
}

/* hero section */
.hero-section{
    padding-bottom: 233px;
}
.hero-title{
    width: 508px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 52px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}
.hero-description{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    color: #FFFFFF;
    margin-top: 36px;
}
.hero-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    background: #FF4E50;
    border: 0;
    border-radius: 50px;
    padding: 8px 10px;
    display: block;
    margin: 30px auto 0;
}

/* partners section */
.partners-section{
    background-color: #fff;
    padding: 65px 0 72px;
}
.partners-title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 1.23;
    text-align: center;
    color: #333333;
}
.partners-list{
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
.partners-item{
    width: 210px;
}
.partners-img{
    display: block;
    margin: 0 auto;
}
.partners-name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #333333;
    margin-top: 16px;
}
.partners-text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #666666;
    margin-top: 13px;
}
.partners-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FF4E50;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 50px;
    margin-top: 40px;
    border: 2px solid #FF4E50;
    padding: 7px 15px;
}